* {
    margin: 5px;
    box-sizing: border-box;
}

body {
    height: 95vh;
    background-color: aqua;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;

}

header{
    background-color:cornflowerblue;
    padding: 2em 0 2em 0;
}

main {
    display: block;
    flex-wrap: wrap;
    align-content: center;
}

.main{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.main h4 {
    text-decoration: underline;
    padding: 15px;
}

#project-1 {
    display: block;
    width: 70%;
    height: 70%;
    align-self: center;
    justify-content: center;
    margin: 0 150px 10px 150px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#project-2 {
    display: block;
}

div img {
    display: flex;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 15px;
}


.left{
    background-color: cornflowerblue;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

.left p {
    font-size: 15px;
    line-height: auto;
}

#avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

main{
    background-color: cornflowerblue;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}

.right{
    background-color: cornflowerblue;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

footer{
    background-color: cornflowerblue;
    padding: 1em 0 1em 0;
}

@media all and (max-width: 550px) {
    .main {
        flex-direction: column;
    }
    main {
        padding: 5em 0 5em 0;
    }
}